<header id="header">
    <h1 id="logo"><a href="index.html">Remotivate</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="/pages/careers.html">Carreras Remotas</a></li>
            <li><a href="/pages/training.html">Formación & Capacitación</a></li>
            <li><a href="/pages/jobs.html">Trabajo & Vacantes</a></li>
            <li><a href="/pages/resources.html">Recursos & Herramientas</a></li>
        </ul>
    </nav>
</header>
