/* Estilos generales */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Estilos de las Habilidades por rubro */
.intro-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .intro-card {
    text-align: center;
  }
  
  .card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  
  .card-description {
    display: none;
    margin-bottom: 15px;
  }
  
  .actions {
    display: none;
  }
  
  .actions button {
    margin: 5px;
    padding: 8px 16px;
    background-color: transparent;
    border: 2px solid #e44c65;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .actions button:hover {
    background-color: #e44c65;
    color: white;
  }
  
  .intro-card.active .card-description,
  .intro-card.active .actions {
    display: block;
  }

/* Estilos de las tags-btn */
.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#tags-container{
    margin: 0rem 0 4rem;
}
.tags button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    margin: 5px;
}
.tags button.selected {
    background-color: #e44c65;
    color: white;
    border-color: #e44c65;
}
.tags button:hover {
    border-color: #e44c65;
    background-color: transparent;
    color: white;
}
.clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #e44c65!important;
}
.clear-button img{
    max-width: 20px;
}

/* Estilos de las tarjetas de carrera */
.careers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.career-item {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    cursor: pointer;
    text-align: center;
    background-color: #6f6c6c21;
}

.career-item:hover {
    transform: translateY(-5px);
}

/* Fade-in */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .careers {
        grid-template-columns: 1fr;
    }

    #main h2 {
        font-size: 28px;
    }

    .tags button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
